.about {
  width: 100svw;
  height: 100svh;
  background-color: rgb(30, 43, 48);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-centered {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.images {
  width: 25vw;
  height: 45vh;
  margin-right: calc(min(1vh, 1vw) + 5px);
  overflow: hidden;
  border-top-left-radius: max(2vh, 2vw);
  border-bottom-left-radius: max(2vh, 2vw);
  transform: skew(-10deg);
}

.image-view {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.image {
  position: absolute;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.buttons {
  width: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: min(2vh, 2vw);
}

.button {
  border-radius: max(2vh, 2vw);
  color: rgb(17, 24, 28);
  background: #faedcd;
  font-family: "Rubik", sans-serif;
  transform: skew(-10deg);
  padding: min(1vh, 1vw);
  width: max(3vh, 3vw)
}

.about-label {
  border-radius: max(2vh, 2vw);
  width: 74vw;
  height: 10vh;
  margin-left: min(5vh, 5vw);
  margin-bottom: calc(min(2vh, 2vw) + 5px);
  transform: skew(-10deg);
  color: #faedcd;
  font-family: "Rubik", sans-serif;
  font-size: min(8vh, 8vw);
  padding-left: min(2vh, 2vw);
}

.about-wrapper {
  position: relative;
}

.card-title {
  color: rgb(17, 24, 28);
  font-family: "Rubik", sans-serif;
  font-size: min(4vh, 4vw);
  height: fit-content;
  padding: min(2vh, 2vw);
  background-color: #faedcd;
  display: flex;
}

.card-text {
  background: rgb(17, 24, 28);
  color: #faedcd;
  font-family: "Rubik", sans-serif;
  font-size: min(3vh, 3vw);
  padding: min(2vh, 2vw);
  height: 100%;
}

.card-footer {
  background: red;
  position: absolute;
  bottom: 0;
}

.card-company {
  flex-grow: 1;
}

.tech {
  border-radius: max(3vh, 3vw);
  color: #faedcd;
  background: rgb(17, 24, 28);
  padding: min(1vh, 1vw);
  font-size: min(2vh, 2vw);
  height: fit-content;
}
