.page {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 12fr 6fr;
  grid-template-rows: 3fr 5fr;
  padding: 1rem;
  gap: 1rem;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.faded-box {
  background-color: rgba(45, 45, 45, 0.3);
  overflow: hidden;
}

.page-menu {
  border-radius: 4rem;
  width: 100%;
  height: 100%;
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 10fr;
  align-items: center;
  padding: min(2vh, 2vw);
  gap: min(1vh, 1vw);
  animation-name: menu-fade-in;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
  position: relative;
}

.page-main {
  color: white;
  border-radius: min(5vh, 5vw);
  font-family: "Rubik", sans-serif;
  width: 100%;
  grid-row-start: 1;
  grid-row-end: 3;
  animation-name: main-fade-in;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-sections {
  padding: min(2vh, 2vw);
  font-family: "Rubik", sans-serif;
  border-radius: min(5vh, 5vw);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
  grid-row-start: 2;
  grid-row-end: 3;
  animation-name: section-fade-in;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

.page-info {
  padding: min(2vh, 2vw);
  text-align: justify;
  color: white;
  font-family: "Rubik", sans-serif;
  border-radius: min(5vh, 5vw);
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 5fr 2fr;
  gap: min(1vh, 1vw);
  position: relative;
  grid-row-start: 1;
  grid-row-end: 2;
  animation-name: info-fade-in;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

.info-title {
  font-size: min(3vh, 3vw);
  display: flex;
  justify-content: start;
  align-items: center;
}

.presentation {
  font-size: min(7vh, 7vw);
}

.info-grow {
  flex-grow: 1;
}

.info-name {
  position: relative;
  color: #52b69a;
}

.subtitle {
  font-size: min(5vh, 5vw);
  position: relative;
  color: white;
  animation-name: fade-in;
  animation-delay: 2000ms;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  opacity: 0;
  padding: min(2vh, 2vw);
  width: 50vw;
  font-size: min(3vh, 3vw);
}

.years {
  font-size: min(7vh, 7vw);
  color: #52b69a;
  border-radius: 50%;
  width: 20vh;
  height: 20vh;
  border: 10px solid #52b69a;
  padding: min(2vh, 2vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.years-info {
  margin-top: min(2vh,2vw);
  font-size: min(3vh, 3vw);
  color: white;
  width: 10vw;
}

.experience {
  background-color: rgba(23, 23, 23, 0.5);
  padding: min(2vh, 2vw);
  border-radius: min(2vh, 2vw);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  animation-name: fade-in;
  animation-delay: 1000ms;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.skills-panel {
  margin-left:min(2vh, 2vw);
  width: 100%;
  height: 100%;
  display: grid;
  gap: min(2vh, 2vw);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  font-size: min(2vh, 2vw);
}

.skills-name {
  font-size: min(3vh, 3vw);
  background-color: #52b69a;
  padding: min(1vh,1vw);
}

.skills-content {
  padding: min(1vh,1vw);
}

.skills-div {
  background-color: rgba(23, 23, 23, 0.5);
  border-radius: min(2vh, 2vw);
  width: 15vw;
  overflow: hidden;
}

.skills1 {
  opacity: 0;
  animation-name: fade-in;
  animation-delay: 1500ms;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.skills2 {
  opacity: 0;
  animation-name: fade-in;
  animation-delay: 2000ms;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.skills3 {
  opacity: 0;
  animation-name: fade-in;
  animation-delay: 2500ms;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.skills4 {
  opacity: 0;
  animation-name: fade-in;
  animation-delay: 3000ms;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.content {
  background-color: rgba(23, 23, 23, 0.5);
  border-radius: min(2vh, 2vw);
  width: 50vw;
  height: 40vh;
  animation-name: fade-in;
  animation-delay: 1000ms;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  opacity: 0;
  font-size: min(5vh, 5vw);
  position: relative;
  color: white;
  overflow: auto;
}

.work-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.work-title {
  background-color: #52b69a;
  padding: min(1vh, 1vw);
  font-size: min(5vh, 5vw);
}

.work-text {
  font-size: min(3vh, 3vw);
  flex-grow: 1;
  width: 100%;
  text-align: justify;
  padding: min(2vh, 2vw);
}

.work-footer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: min(2vh, 2vw);
}

.work-tag {
  background-color: #52b69a;
  padding: min(1vh, 1vw);
  font-size: min(2vh, 2vw);
  border-radius: min(5vh, 5vw);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-icon {
  height: min(2vh, 2vw);
  width: min(2vh, 2vw);
  color: #52b69a;
  margin-right: min(1vh, 1vw);
  animation-name: location-fade-in;
  animation-delay: 800ms;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

.info-location {
  font-size: min(2vh, 2vw);
  display: flex;
  justify-content: start;
  align-items: start;
  animation-name: fade-in;
  animation-delay: 1000ms;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

.info-text {
  background-color: rgba(23, 23, 23, 0.5);
  padding: min(2vh, 2vw);
  border-radius: min(2vh, 2vw);
  font-size: min(2vh, 2vw);
  animation-name: fade-in;
  animation-delay: 1250ms;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  opacity: 0;
  height: 100%;
}

.icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: min(2vh, 2vw);
  width: min(10vh, 10vw);
}

.icon {
  padding: min(1vh, 1vw);
  width: min(5vh, 5vw);
  height: min(5vh, 5vw);
}

.icon-wrapper {
  color: white;
  height: 100%;
  width: 100%;
  opacity: 0;
  animation-name: fade-in;
  animation-delay: 1000ms;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-main-image {
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: min(60vh, 60vw);
  min-height: min(50vh, 50vw);
  max-width: min(60vh, 60vw);
  max-height: min(50vh, 50vw);
  z-index: 1;
  animation-name: image-fade-in;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

.static {
  filter: url(#static);
}

.page-title {
  font-size: max(3vh, 3vw);
  font-weight: 700;
}

#blob {
  z-index: 0;
  background-color: white;
  height: 20vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, #b5e48c, #168aad);
  animation: rotate 20s infinite;
  opacity: 0.8;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  backdrop-filter: blur(10vmax);
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

@keyframes marker-fade-in {
  from {
    background-color: transparent;
  }
  to {
    background-color: #52b69a;
  }
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes main-fade-in {
  from {
    opacity: 0;
    transform: rotate(-60deg);
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes main-fade-in {
  from {
    opacity: 0;
    transform: rotate(-60deg);
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes menu-fade-in {
  from {
    opacity: 0;
    transform: translate(-100%, 0%);
    scale: 0.75;
  }
  to {
    opacity: 1;
    transform: translate(0%, 0%);
    scale: 1;
  }
}

@keyframes location-fade-in {
  from {
    opacity: 0;
    transform: translate(0%, -100%);
  }
  to {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}

@keyframes info-fade-in {
  from {
    transform: translate(100%, 0%) rotate(60deg);
    scale: 0.25;
  }
  to {
    transform: translate(0%, 0%);
    scale: 1;
  }
}

@keyframes image-fade-in {
  from {
    transform: translate(100%, 0%);
  }
  to {
    transform: translate(0%, 0%);
  }
}

@keyframes section-fade-in {
  from {
    opacity: 0;
    transform: translate(0%, 100%);
    scale: 0.5;
  }
  to {
    opacity: 1;
    transform: translate(0%, 0%);
    scale: 1;
  }
}
