.typed {
    background: #FAEDCD;
    width: 55vw;
    color: rgb(17, 24, 28);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: max(2vw, 2vh);
    box-shadow: 10px 10px 5px rgb(17, 24, 28);
}