.typed {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  z-index: 2;
  cursor: default;
}

.before {
  top: calc( -1 * min(.3vh,.3vw));
  left: calc( -1 * min(.3vh,.3vw));
  color: #B5E48C;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.after {
  bottom: calc( -1 * min(.3vh,.3vw));
  right: calc( -1 * min(.3vh,.3vw));
  color: #168AAD;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
