.home {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 12fr 6fr;
  padding: 1rem;
  gap: 1rem;
}

.faded-box {
  color: white;
  background-color: rgba(36,36,36,.3);
  width: 4rem;
  height: 100%;
  border-radius: 4rem;
  overflow: hidden;
}

.home-menu {
 width: 100%;
}

.home-main {
  width: 100%;
}

.home-sections {
  width: 100%;
}

.home-main-image {
  width: 40rem;
  height: 50%;
  background-image: url("../../assets/image6c.png");
  background-size: 100%;
}
