html {
  font-size: 100%;
}

body {
  margin: 0px;
}

.background {
  width: 100svw;
  height: 100svh;
  background: #191919;
  /* background-image: linear-gradient(90deg, #111 1rem, transparent 1rem),
    linear-gradient(#111 1rem, transparent 1rem);
  background-size: 1.2rem 1.2rem; */
}

@keyframes teste {
  from {
    width: 0%;
    height: 0%;
  }

  to {
    width: 50%;
    height: 30%;
  }
}

.frame-1 {
  position: relative;
  color: white;
  border: 1px solid white;
  font-family: "Inconsolata", monospace;
  font-size: min(5vh, 5vw);
}

.frame-in {
  animation: teste 4s;
  animation-fill-mode: forwards;
}

.frame-1:before {
  position: absolute;
  top: -.25em;
  left: -.25em;
  width: .5em;
  height: .5em;
  content: "";
  border-top: 1px solid white;
  border-left: 1px solid white;
}

.frame-1:after {
  position: absolute;
  bottom: -.25em;
  right: -.25em;
  width: .5em;
  height: .5em;
  content: "";
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}